<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{  url_for('static', filename='styles.css')  }}">
    <link rel="icon" href="{{  url_for('static', filename='dino.iico')  }}" type="image/x-icon">
    <meta property="og:title" content="Obo Sky">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://obosky.netlify.app/">
    <meta property="og:description" content="Check my website pls <3 :D">
    <meta content="#00FF00" data-react-helmet="true" name="theme-color" />
    <meta property="og:image" content="https://cdn.discordapp.com/icons/868817418401755146/8f26b08c74419095034361ed9ba8bdee.png">
    <title>Akex | Main</title>
</head>
<body>
    <p id="login">Welcome to AkexOS 1.0 (GNU/Linux 5.4.0-70-generic #SMP Wed 12 Jul 2006 8:25 x86_64)


    * GitHub: <a href="https://github.com/obosky">https://github.com/obosky</a>
    * Contact: Use "contact" for my contacts
    * Organization: <a href="https://coconut.or.id">https://coconut.or.id</a>
    * Website: <a href="https://obosky.netlify.app/">https://obosky.netlify.app/</a>
    * My Discord: <a href="https://discord.gg/K2u3BVJs">https://discord.gg/K2u3BVJs</a>
    System information as of {time}


    Usage of /: 31.8% of 19.85GB Users logged in: 1
    Memory usage: 12% IPv4 address for ens33: 188.114.97.12

To run a command as administrator (user "root"), use "sudo <command>".
To get help with a list of commands use "help"</p>

    <script src="{{  url_for('static', filename='main.js')  }}"></script>
</body>
</html>